@import '../../styles/base/mixins.scss';

.grid-container {
  padding: 0.5em 0;
  grid-template-columns: minmax(auto, 100%);
  display: grid;
  justify-content: center;
  & .grid-item-tweets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
  }

  @include respond-to(mobile-portrait) {
    & {
      padding: 0 1em;
      & .grid-item-tweets {
        grid-template-columns: 1fr;
      }
    }
  }

  @include respond-to(mobile-landscape) {
    & {
      padding: 0 1em;
      & .grid-item-tweets {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @include respond-to(handhelds) {
    & {
      padding: 0 1em;
      & .grid-item-tweets {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
