@import '../../styles/base/_mixins.scss';

.content-not-found {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 3em;

  p {
    color: #c2c2c2;
    font-size: 60px;
    margin: 0;

    @include respond-to(mobile-portrait) {
      & {
        font-size: 40px;
      }
    }
  }
}
