@import '../../styles/base/variables.scss';

.content-view-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;

  .view-more-section {
    background: $color-first;
    width: 195px;
    max-height: 20px;
    transition: max-height 400ms ease-out;
    padding: 0.2em 0;
    margin: 0 1em;
    text-align: center;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

    &.expand {
      max-height: 500px;
      transition: max-height 400ms ease-in;
      z-index: 1;
      margin-bottom: 1em;

      & .view-more-section-expand {
        display: none;
      }
    }

    & .view-more-section-icon {
      position: absolute;
      top: -38px;
      left: 0;
      right: 0;
      & svg {
        color: $color-second;
        font-size: 60px;
      }
    }
    & .view-more-section-expand {
      position: absolute;
      right: 15px;
      display: flex;
      align-items: center;
      top: -3px;
      cursor: pointer;
      user-select: none;

      & span {
        font-size: 13px;
        color: $color-second;
      }

      & svg {
        font-size: 34px;
        color: $gs-white;
      }
    }
    & .detail-tweet {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      color: $color-second;
      font-size: 13px;
      padding: 0 1em;
      text-align: left;

      & .info-date {
        padding: 0.2em;
        border: 1px solid $color-third;
        border-right-style: none;
        border-left-style: none;
      }

      & .collapsed {
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        color: $gs-white;
        cursor: pointer;
      }
    }

    &::before {
      content: '';
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      border: 50px solid $color-first;
      border-bottom: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}
