///COLORS
$color-first: #51a5b9;
$color-second: #cfecf2;
$color-third: #60b1c1;
$color-forth: rgb(23, 191, 99);
$color-fiveth: #9bcef5;
$color-sixth: #f0ae3f;
//gray scale
$gs-white: #ffffff;
$gs-gray-white: #f1f1f1;
$gs-ligth-gray: #c2c2c2;
$gs-gray: gray;
$gs-gray-medium: #d3d3d3;
$gs-gray-dark: #8f8f8f;
$gs-black-medium: #666666;
$gs-black: black;

//color spinner

$spinner-color_1: #08a0e9;
$spinner-color_2: #e8f5fd;
$spinner-color_3: #0084b4;

//window-size
$small: 576px;
$medium: 768px;
$large: 1024px;

//responsive-size
$small-desktop: 960px;
$large-desktop: 1200px;
$handheld: 768px;
$handhelds-landscape: 1024px;
$mobile: 480px;
$mobile-landscape: 768px;
